<div class="col-md-8">
  <mat-selection-list #account [multiple]="false">
    <h2>Donations List</h2>
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let donation of donations; let i = index"
        [class.active]="i == currentDonIndex"
        (click)="setActiveDon(donation, i)"
      >
        {{ donation.DonationTypeOther }}
        <button style="float: right; border:0ch; background-color: transparent;" mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
        <button mat-raised-button mat-menu-item (click)="openEditDon(donation)">
          Edit
        </button>
        <button mat-raised-button mat-menu-item (click)="deleteDon(donation)">
          Delete
        </button>
        </mat-menu>
      </li>
    </ul>
  </mat-selection-list>
    <button mat-raised-button class="m-3 btn btn-sm btn-success" (click)="openAddDon()">
      Add new donation
    </button>

    <button mat-raised-button class="m-3 btn btn-sm btn-danger">
      Remove All
    </button>

  </div>
