<div class="mainDiv" fxLayoutAlign = "center center">
    <mat-card fxFlex = "25" style="margin-top: 200px">
        <mat-toolbar color="primary">Login</mat-toolbar>
        <form [formGroup]="formGroup" *ngIf="loginForm" #loginForm="ngForm" class = "form-field" fxLayoutAlign = "stretch" fxLayout = "column" (ngSubmit)="onSubmit()">
        <mat-form-field>
          <mat-label>Username</mat-label>
          <input matInput placeholder="Username" formControlName="username" required>
          <mat-error *ngIf="username.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      
        <mat-form-field>
            <mat-label>Password</mat-label>
            <input type = "password" matInput placeholder="password" formControlName="password" required>
            <mat-error *ngIf="password.invalid">{{getErrorMessage()}}</mat-error>
          </mat-form-field>

        <mat-form-field>
            <mat-label>Organisation ID</mat-label>
            <input matInput placeholder="OrgID" formControlName="orgguid" required>
            <mat-error *ngIf="orgguid.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
        
          <button [disabled] = "loginForm.invalid" mat-flat-button color="primary" type="submit" >Login</button>
      </form>
      <br>
      <p *ngIf="isLoggedIn$ | async">You're already logged in</p>
    </mat-card>
</div>
<router-outlet></router-outlet>
