<div class="mainDiv" fxLayoutAlign = "center center" fxFlexFill>
    <mat-card fxFlex = "25">
        <mat-toolbar color="primary">Login</mat-toolbar>
        <form [formGroup]="formGroup" *ngIf="!loggedIn" #loginForm="ngForm" class = "form-field" fxLayoutAlign = "stretch" fxLayout = "column" (ngSubmit)="onSubmit()">
        <mat-form-field>
          <mat-label>Username</mat-label>
          <input matInput placeholder="Username" formControlName="username" required>
        </mat-form-field>
      
        <mat-form-field>
            <mat-label>Password</mat-label>
            <input type = "password" matInput placeholder="password" formControlName="password" required>
          </mat-form-field>

        <mat-form-field>
            <mat-label>Organisation ID</mat-label>
            <input matInput placeholder="OrgID" formControlName="orgguid" required>
        </mat-form-field>
        
          <p *ngIf="loginForm.submitted && loginFailed">{{ errorMessage }}</p>
        
          <button [disabled] = "loginForm.invalid" mat-flat-button color="primary" type="submit" >Login</button>
      </form>
      <br>
      <p *ngIf="loggedIn">You're already logged in</p>
    </mat-card>
</div>
<router-outlet></router-outlet>
