<div class="d-flex bd-highlight">
  <div class="p-2 flex-fill bd-highlight">
  <app-accountslist></app-accountslist>
  </div>
    <!-- <div class="col-md-8">
      <div class="input-group mb-3">
        <form [formGroup] = "SearchA">
        <input
          type="text"
          class="form-control"
          placeholder="Search by username"
          formControlName = "Username"
        />
      </form>
        <div class="input-group-append">
          <button
            class="btn btn-outline-secondary"
            type="button"
            (click)="searchAcc()">
            Search
          </button>
        </div>
      </div>
    </div> -->
    <!-- <div class="col-md-6">
      <div *ngIf="currentAcc">
        <h4>Account</h4>
        <div>
          <label><strong>Username:</strong></label> {{ currentAcc.Username }}
        </div>
        <div>
          <label><strong>Id:</strong></label> {{ currentAcc.AccountId }}
        </div>
        <div>
          <label><strong>Name:</strong></label> {{ currentAcc.AccountName }}
        </div>
      </div>
  
      <div *ngIf="!currentAcc">
        <br />
        <p>Please click on a Account...</p>
      </div>
    </div> -->

<div class="p-2 flex-fill bd-highlight">
    <app-donationslist></app-donationslist>
</div>
    <!-- <div class="col-md-8">
      <div class="input-group mb-3">
        <form [formGroup] = "SearchD"  >
        <input
          type="text"
          class="form-control"
          placeholder="Search by donation"
          formControlName = "DonationTypeOther"
        />
      </form>
        <div class="input-group-append">
          <button
            class="btn btn-outline-secondary"
            type="button"
            (click)="searchDon()">
            Search
          </button>
        </div>
      </div>
    </div> -->
    <!-- <div class="col-md-6">
      <div *ngIf="currentDon">
        <h4>Donation</h4>
        <div>
          <label><strong>Id:</strong></label> {{ currentDon.DonationTypeId }}
        </div>
        <div>
          <label><strong>Donation:</strong></label> {{ currentDon.DonationTypeOther }}
        </div>
      </div>
  
      <div *ngIf="!currentDon">
        <br />
        <p>Please click on a Donation...</p>
      </div>
    </div> -->
</div>

