<mat-dialog-content>
    <div class="d-flex bd-highlight">
        <div class="p-2 flex-fill bd-highlight">
            <div class="submit-form">
              <form [formGroup] = "addDon" *ngIf="!submittedDon" (ngSubmit) = "saveDon()">
                <div class="form-group">
                  <label>Donation type</label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Enter donation type"
                    required
                    formControlName = "DonationTypeOther"
                  />
                </div>
                <mat-dialog-actions>
                <button mat-button class="btn btn-success">Submit</button>
                <button mat-button mat-dialog-close class="btn btn-danger">Cancel</button>
                </mat-dialog-actions> 
              </form>
        
              <p *ngIf="AddDonFailed">
              Failed to add donation!
              </p>
              
              <div *ngIf="submittedDon">
                <h4>Donation was submitted successfully!</h4>
                <mat-dialog-actions>
                <button mat-button class="btn btn-success" (click)="newDon()">Add</button>
                <button mat-button mat-dialog-close class="btn btn-danger">Cancel</button>
                </mat-dialog-actions>
              </div>
            </div>
        </div>   
    </div>
</mat-dialog-content>
