<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
      <button routerLink = "/home" mat-raised-button>
        HOME
      </button>
      <button *ngIf = "loggedIn"  routerLink = "/lists" mat-raised-button>
        Lists
      </button>
      <button *ngIf = "!loggedIn" routerLink = "/login" mat-raised-button>
        Login
      </button>
      <button *ngIf = "loggedIn" (click) = "logout()" mat-raised-button>
        Logout
      </button>
    </mat-drawer>
  
    <div class="example-sidenav-content">
      <button type="button" mat-button (click)="drawer.toggle()">
        Menu
      </button>
    </div>
  
  </mat-drawer-container>
      <router-outlet></router-outlet>
    