<div class="d-flex bd-highlight">
<div class="p-2 flex-fill bd-highlight">
<div class="list row">
    <!-- <div class="col-md-8">
      <div class="input-group mb-3">
        <form [formGroup] = "SearchA">
        <input
          type="text"
          class="form-control"
          placeholder="Search by username"
          formControlName = "Username"
        />
      </form>
        <div class="input-group-append">
          <button
            class="btn btn-outline-secondary"
            type="button"
            (click)="searchAcc()">
            Search
          </button>
        </div>
      </div>
    </div> -->
    <div class="col-md-6">
      <h2>Accounts List</h2>
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let account of accounts; let i = index"
          [class.active]="i == currentAccIndex"
          (click)="setActiveAcc(account, i)"
        >
          {{ account.Username }}
          <br>
          <button mat-raised-button class="badge badge-warning mr-2" (click)="openEditAcc(account)">
            Edit
          </button>
          <button class="badge badge-danger mr-2" (click)="deleteAcc(account)">
            Delete
          </button>
        </li>
      </ul>
      <button mat-raised-button class="m-3 btn btn-sm btn-success" (click)="openAddAcc()">
        Add new account
      </button>

      <button class="m-3 btn btn-sm btn-danger">
        Remove All
      </button>

    </div>
    <div class="col-md-6">
      <div *ngIf="currentAcc">
        <h4>Account</h4>
        <div>
          <label><strong>Username:</strong></label> {{ currentAcc.Username }}
        </div>
        <div>
          <label><strong>Id:</strong></label> {{ currentAcc.AccountId }}
        </div>
        <div>
          <label><strong>Name:</strong></label> {{ currentAcc.AccountName }}
        </div>
      </div>
  
      <div *ngIf="!currentAcc">
        <br />
        <p>Please click on a Account...</p>
      </div>
    </div>
    
  </div>
</div>

<div class="p-2 flex-fill bd-highlight">
  <div class="list row">
    <!-- <div class="col-md-8">
      <div class="input-group mb-3">
        <form [formGroup] = "SearchD"  >
        <input
          type="text"
          class="form-control"
          placeholder="Search by donation"
          formControlName = "DonationTypeOther"
        />
      </form>
        <div class="input-group-append">
          <button
            class="btn btn-outline-secondary"
            type="button"
            (click)="searchDon()">
            Search
          </button>
        </div>
      </div>
    </div> -->
    <div class="col-md-6">
      <h2>Donations List</h2>
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let donation of donations; let i = index"
          [class.active]="i == currentDonIndex"
          (click)="setActiveDon(donation, i)"
        >
          {{ donation.DonationTypeOther }}
          <br>
          <button mat-raised-button class="badge badge-warning mr-2" (click)="openEditDon(donation)">
            Edit
          </button>
          <button class="badge badge-danger mr-2" (click)="deleteDon(donation)">
            Delete
          </button>
        </li>
      </ul>

      <button mat-raised-button class="m-3 btn btn-sm btn-success" (click)="openAddDon()">
        Add new donation
      </button>

      <button class="m-3 btn btn-sm btn-danger">
        Remove All
      </button>

    </div>
    <div class="col-md-6">
      <div *ngIf="currentDon">
        <h4>Donation</h4>
        <div>
          <label><strong>Id:</strong></label> {{ currentDon.DonationTypeId }}
        </div>
        <div>
          <label><strong>Donation:</strong></label> {{ currentDon.DonationTypeOther }}
        </div>
      </div>
  
      <div *ngIf="!currentDon">
        <br />
        <p>Please click on a Donation...</p>
      </div>
    </div>
  </div>
</div>
</div>

