/* You can add global styles to this file, and also import other style files */

html { height: 100%; }
body { margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(-50deg,grey 0%, rgb(155, 0, 155) 100%);
  }
